@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="p-5 bg-light-subtle rounded shadow-sm">
                <h1 class="display-3 mb-4">@App.Resources.Domain.Home.Welcome</h1>
                <p class="lead">@App.Resources.Domain.Home.Introduction</p>
                <p class="text-muted">@App.Resources.Domain.Home.Description</p>
            </div>
        </div>
    </div>
</div>