@model WebApp.ViewModels.UserInRoleViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserInRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserInRole.Since" class="control-label"></label>
                <input asp-for="UserInRole.Since" class="form-control" />
                <span asp-validation-for="UserInRole.Since" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInRole.Until" class="control-label"></label>
                <input asp-for="UserInRole.Until" class="form-control" />
                <span asp-validation-for="UserInRole.Until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInRole.UserId" class="control-label"></label>
                <select asp-for="UserInRole.UserId" class ="form-control" asp-items="Model.UsersSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserInRole.RoleId" class="control-label"></label>
                <select asp-for="UserInRole.RoleId" class ="form-control" asp-items="Model.RolesSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
